<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Students Data Fetched from DataBase</h1>
    <table border='true'>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>roll</th>
          <th>city</th>
          <th>marks</th>
          <th>pass_date</th>
        </tr>

        <tr>
            <td>{{students.id}}</td>
            <td>{{students.name}}</td>
            <td>{{students.roll}}</td>
            <td>{{students.city}}</td>
            <td>{{students.marks}}</td>
            <td>{{students.pass_date}}</td>
        </tr>
    </table>
</body>
</html>      </table>
</body>
</html>